@model IEnumerable<TodoApp_MVC.Models.Todo>
@using TodoApp_MVC.Data

@{
    ViewData["Title"] = "List";
}

@* @if(User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                             </li>
                        } *@

<div class="todo-container shadow">
 @if(Model.Count() > 0)
    {
        <div class="todo-wrapper">
            <div class="sub-wrapper d-flex align-items-baseline">
                <p class="m-0 p-0 font-italic">@ViewData["Username"]</p>
                <a class="text-dark ms-auto p-0 " asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </div>             
            <div class="sub-wrapper">
                <a class="text-center font-section-title font-italic my-4" style="display:block;" asp-area="" asp-controller="Todo" asp-action="Index">My To-do</a>
            </div>

            <div class="sub-wrapper search-container">
                <form asp-controller="Todo" asp-action="Index" class="form-search">
                    <input type="search" placeholder="type here" name="searchString" class="search-input form-control"/>
                    <input type="submit" value="Search" class="btn btn-success search-btn"/>
                </form>
            </div>

            <div class="sub-wrapper items-wrapper">
                @foreach (var item in Model)
                {
                <div class="items">
                                
                    @if (@item.IsComplete)
                        {
                            <a  asp-area="" 
                                asp-controller="Todo" 
                                asp-action="Edit" 
                                asp-route-id="@item.Id"
                                class="item-title-done">
                                    @item.Title
                            </a>
                        }
                        else{
                            <a  asp-area="" 
                                asp-controller="Todo" 
                                asp-action="Edit" 
                                asp-route-id="@item.Id"
                                class="item-title">
                                    @item.Title
                            </a>
                        }
                            <a  asp-area="" 
                                asp-controller="Todo" 
                                asp-action="Delete" 
                                asp-route-id="@item.Id" 
                                class="item-btn-delete"
                            >
                            X
                            </a>
                </div>
                }
               
                        <a  asp-area="" 
                            asp-controller="Todo" 
                            asp-action="Create"
                            class="col btn btn-primary add-btn">Add New</a>
            </div>
                
        </div>
    }
    else{
        <div class="todo-wrapper">
            <div class="sub-wrapper">
                <h3 class="text-center">@ViewData["Title"]</h3>
            </div>
            <div class="sub-wrapper search-container">
                <form asp-controller="Todo" asp-action="Index" class="form-search">
                    <input type="search" placeholder="type here" name="searchString" class="search-input form-control"/>
                    <input type="submit" value="Search" class="btn btn-success search-btn"/>
                </form>
            </div>
            <div class="sub-wrapper items-wrapper">
                <a  asp-area="" 
                    asp-controller="Todo" 
                    asp-action="Create"
                    class="col btn btn-primary add-btn">Add New</a>
            </div>
        </div>
    }
</div>